{
  "openapi": "3.0.0",
  "info": {
    "title": "PMM API",
    "version": "public"
  },
  "servers": [
    {
      "url": "https://pmm2.pmm.one"
    }
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "paths": {
    "/logs.zip": {
      "get": {
        "tags": ["Server"],
        "summary": "Logs returns logs of the PMM-Server.",
        "operationId": "Logs",
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/zip": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "default": {
            "description": "An error response.",
            "content": {
              "application/zip": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default"
                }
              }
            }
          }
        }
      }
    },
    "/v1/AWSInstanceCheck": {
      "post": {
        "tags": ["Server"],
        "summary": "AWSInstanceCheck checks AWS EC2 instance ID.",
        "operationId": "AWSInstanceCheck",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/v1_AWSInstanceCheck_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_1"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Platform/SignIn": {
      "post": {
        "tags": ["Server"],
        "summary": "PlatformSignIn links that PMM instance to Percona Platform user.",
        "operationId": "PlatformSignIn",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Platform_SignIn_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_1"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Platform/SignOut": {
      "post": {
        "tags": ["Server"],
        "summary": "PlatformSignOut logouts this PMM instance from Percona Platform account.",
        "operationId": "PlatformSignOut",
        "requestBody": {
          "$ref": "#/components/requestBodies/PlatformSignOutBody"
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_1"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Platform/SignUp": {
      "post": {
        "tags": ["Server"],
        "summary": "PlatformSignUp creates a new Percona Platform user.",
        "operationId": "PlatformSignUp",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Platform_SignUp_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_1"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Settings/Change": {
      "post": {
        "tags": ["Server"],
        "summary": "ChangeSettings changes PMM Server settings.",
        "operationId": "ChangeSettings",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Settings_Change_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_1"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Settings/Get": {
      "post": {
        "tags": ["Server"],
        "summary": "GetSettings returns current PMM Server settings.",
        "operationId": "GetSettings",
        "requestBody": {
          "$ref": "#/components/requestBodies/PlatformSignOutBody"
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_1"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Updates/Check": {
      "post": {
        "tags": ["Server"],
        "summary": "CheckUpdates checks PMM Server updates availability.",
        "operationId": "CheckUpdates",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Updates_Check_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_1"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_1"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Updates/Start": {
      "post": {
        "tags": ["Server"],
        "summary": "StartUpdate starts PMM Server update.",
        "operationId": "StartUpdate",
        "requestBody": {
          "$ref": "#/components/requestBodies/PlatformSignOutBody"
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_2"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_1"
                }
              }
            }
          }
        }
      }
    },
    "/v1/Updates/Status": {
      "post": {
        "tags": ["Server"],
        "summary": "UpdateStatus returns PMM Server update status.",
        "operationId": "UpdateStatus",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Updates_Status_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_3"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_1"
                }
              }
            }
          }
        }
      }
    },
    "/v1/inventory/Agents/AddAzureDatabaseExporter": {
      "post": {
        "tags": ["Agents"],
        "summary": "AddAzureDatabaseExporter adds azure_database_exporter Agent.",
        "operationId": "AddAzureDatabaseExporter",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Agents_AddAzureDatabaseExporter_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_4"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_1"
                }
              }
            }
          }
        }
      }
    },
    "/v1/inventory/Agents/AddExternalExporter": {
      "post": {
        "tags": ["Agents"],
        "summary": "AddExternalExporter adds external_exporter Agent.",
        "operationId": "AddExternalExporter",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Agents_AddExternalExporter_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_5"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_1"
                }
              }
            }
          }
        }
      }
    },
    "/v1/inventory/Agents/AddMongoDBExporter": {
      "post": {
        "tags": ["Agents"],
        "summary": "AddMongoDBExporter adds mongodb_exporter Agent.",
        "operationId": "AddMongoDBExporter",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Agents_AddMongoDBExporter_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_6"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_1"
                }
              }
            }
          }
        }
      }
    },
    "/v1/inventory/Agents/AddMySQLdExporter": {
      "post": {
        "tags": ["Agents"],
        "summary": "AddMySQLdExporter adds mysqld_exporter Agent.",
        "operationId": "AddMySQLdExporter",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Agents_AddMySQLdExporter_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_7"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_1"
                }
              }
            }
          }
        }
      }
    },
    "/v1/inventory/Agents/AddNodeExporter": {
      "post": {
        "tags": ["Agents"],
        "summary": "AddNodeExporter adds node_exporter Agent.",
        "operationId": "AddNodeExporter",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Agents_AddNodeExporter_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_8"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_1"
                }
              }
            }
          }
        }
      }
    },
    "/v1/inventory/Agents/AddPMMAgent": {
      "post": {
        "tags": ["Agents"],
        "summary": "AddPMMAgent adds pmm-agent Agent.",
        "operationId": "AddPMMAgent",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Agents_AddPMMAgent_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_9"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_1"
                }
              }
            }
          }
        }
      }
    },
    "/v1/inventory/Agents/AddPostgresExporter": {
      "post": {
        "tags": ["Agents"],
        "summary": "AddPostgresExporter adds postgres_exporter Agent.",
        "operationId": "AddPostgresExporter",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Agents_AddPostgresExporter_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_10"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_1"
                }
              }
            }
          }
        }
      }
    },
    "/v1/inventory/Agents/AddProxySQLExporter": {
      "post": {
        "tags": ["Agents"],
        "summary": "AddProxySQLExporter adds proxysql_exporter Agent.",
        "operationId": "AddProxySQLExporter",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Agents_AddProxySQLExporter_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_11"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_1"
                }
              }
            }
          }
        }
      }
    },
    "/v1/inventory/Agents/AddQANMongoDBProfilerAgent": {
      "post": {
        "tags": ["Agents"],
        "summary": "AddQANMongoDBProfilerAgent adds MongoDB Profiler QAN Agent.",
        "operationId": "AddQANMongoDBProfilerAgent",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Agents_AddQANMongoDBProfilerAgent_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_12"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_1"
                }
              }
            }
          }
        }
      }
    },
    "/v1/inventory/Agents/AddQANMySQLPerfSchemaAgent": {
      "post": {
        "tags": ["Agents"],
        "summary": "AddQANMySQLPerfSchemaAgent adds MySQL PerfSchema QAN Agent.",
        "operationId": "AddQANMySQLPerfSchemaAgent",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Agents_AddQANMySQLPerfSchemaAgent_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_13"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_1"
                }
              }
            }
          }
        }
      }
    },
    "/v1/inventory/Agents/AddQANMySQLSlowlogAgent": {
      "post": {
        "tags": ["Agents"],
        "summary": "AddQANMySQLSlowlogAgent adds MySQL PerfSchema QAN Agent.",
        "operationId": "AddQANMySQLSlowlogAgent",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Agents_AddQANMySQLSlowlogAgent_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_14"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_1"
                }
              }
            }
          }
        }
      }
    },
    "/v1/inventory/Agents/AddQANPostgreSQLPgStatMonitorAgent": {
      "post": {
        "tags": ["Agents"],
        "summary": "AddQANPostgreSQLPgStatMonitorAgent adds PostgreSQL Pg Stat Monitor QAN Agent.",
        "operationId": "AddQANPostgreSQLPgStatMonitorAgent",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Agents_AddQANPostgreSQLPgStatMonitorAgent_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_15"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_1"
                }
              }
            }
          }
        }
      }
    },
    "/v1/inventory/Agents/AddQANPostgreSQLPgStatementsAgent": {
      "post": {
        "tags": ["Agents"],
        "summary": "AddQANPostgreSQLPgStatementsAgent adds PostgreSQL Pg Stat Statements QAN Agent.",
        "operationId": "AddQANPostgreSQLPgStatementsAgent",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Agents_AddQANPostgreSQLPgStatementsAgent_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_16"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_1"
                }
              }
            }
          }
        }
      }
    },
    "/v1/inventory/Agents/AddRDSExporter": {
      "post": {
        "tags": ["Agents"],
        "summary": "AddRDSExporter adds rds_exporter Agent.",
        "operationId": "AddRDSExporter",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Agents_AddRDSExporter_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_17"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_1"
                }
              }
            }
          }
        }
      }
    },
    "/v1/inventory/Agents/ChangeAzureDatabaseExporter": {
      "post": {
        "tags": ["Agents"],
        "summary": "ChangeAzureDatabaseExporter changes_database azure_database_exporter Agent.",
        "operationId": "ChangeAzureDatabaseExporter",
        "requestBody": {
          "$ref": "#/components/requestBodies/ChangeAzureDatabaseExporterBody"
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_4"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_1"
                }
              }
            }
          }
        }
      }
    },
    "/v1/inventory/Agents/ChangeExternalExporter": {
      "post": {
        "tags": ["Agents"],
        "summary": "ChangeExternalExporter changes external_exporter Agent.",
        "operationId": "ChangeExternalExporter",
        "requestBody": {
          "$ref": "#/components/requestBodies/ChangeAzureDatabaseExporterBody"
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_5"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_1"
                }
              }
            }
          }
        }
      }
    },
    "/v1/inventory/Agents/ChangeMongoDBExporter": {
      "post": {
        "tags": ["Agents"],
        "summary": "ChangeMongoDBExporter changes mongodb_exporter Agent.",
        "operationId": "ChangeMongoDBExporter",
        "requestBody": {
          "$ref": "#/components/requestBodies/ChangeAzureDatabaseExporterBody"
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_6"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_1"
                }
              }
            }
          }
        }
      }
    },
    "/v1/inventory/Agents/ChangeMySQLdExporter": {
      "post": {
        "tags": ["Agents"],
        "summary": "ChangeMySQLdExporter changes mysqld_exporter Agent.",
        "operationId": "ChangeMySQLdExporter",
        "requestBody": {
          "$ref": "#/components/requestBodies/ChangeAzureDatabaseExporterBody"
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_18"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_1"
                }
              }
            }
          }
        }
      }
    },
    "/v1/inventory/Agents/ChangeNodeExporter": {
      "post": {
        "tags": ["Agents"],
        "summary": "ChangeNodeExporter changes node_exporter Agent.",
        "operationId": "ChangeNodeExporter",
        "requestBody": {
          "$ref": "#/components/requestBodies/ChangeAzureDatabaseExporterBody"
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_8"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_1"
                }
              }
            }
          }
        }
      }
    },
    "/v1/inventory/Agents/ChangePostgresExporter": {
      "post": {
        "tags": ["Agents"],
        "summary": "ChangePostgresExporter changes postgres_exporter Agent.",
        "operationId": "ChangePostgresExporter",
        "requestBody": {
          "$ref": "#/components/requestBodies/ChangeAzureDatabaseExporterBody"
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_10"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_1"
                }
              }
            }
          }
        }
      }
    },
    "/v1/inventory/Agents/ChangeProxySQLExporter": {
      "post": {
        "tags": ["Agents"],
        "summary": "ChangeProxySQLExporter changes proxysql_exporter Agent.",
        "operationId": "ChangeProxySQLExporter",
        "requestBody": {
          "$ref": "#/components/requestBodies/ChangeAzureDatabaseExporterBody"
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_11"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_1"
                }
              }
            }
          }
        }
      }
    },
    "/v1/inventory/Agents/ChangeQANMongoDBProfilerAgent": {
      "post": {
        "tags": ["Agents"],
        "summary": "ChangeQANMongoDBProfilerAgent changes MongoDB Profiler QAN Agent.",
        "operationId": "ChangeQANMongoDBProfilerAgent",
        "requestBody": {
          "$ref": "#/components/requestBodies/ChangeAzureDatabaseExporterBody"
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_12"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_1"
                }
              }
            }
          }
        }
      }
    },
    "/v1/inventory/Agents/ChangeQANMySQLPerfSchemaAgent": {
      "post": {
        "tags": ["Agents"],
        "summary": "ChangeQANMySQLPerfSchemaAgent changes MySQL PerfSchema QAN Agent.",
        "operationId": "ChangeQANMySQLPerfSchemaAgent",
        "requestBody": {
          "$ref": "#/components/requestBodies/ChangeAzureDatabaseExporterBody"
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_13"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_1"
                }
              }
            }
          }
        }
      }
    },
    "/v1/inventory/Agents/ChangeQANMySQLSlowlogAgent": {
      "post": {
        "tags": ["Agents"],
        "summary": "ChangeQANMySQLSlowlogAgent changes MySQL PerfSchema QAN Agent.",
        "operationId": "ChangeQANMySQLSlowlogAgent",
        "requestBody": {
          "$ref": "#/components/requestBodies/ChangeAzureDatabaseExporterBody"
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_14"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_1"
                }
              }
            }
          }
        }
      }
    },
    "/v1/inventory/Agents/ChangeQANPostgreSQLPgStatMonitorAgent": {
      "post": {
        "tags": ["Agents"],
        "summary": "ChangeQANPostgreSQLPgStatMonitorAgent changes PostgreSQL Pg Stat Monitor QAN Agent.",
        "operationId": "ChangeQANPostgreSQLPgStatMonitorAgent",
        "requestBody": {
          "$ref": "#/components/requestBodies/ChangeAzureDatabaseExporterBody"
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_15"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_1"
                }
              }
            }
          }
        }
      }
    },
    "/v1/inventory/Agents/ChangeQANPostgreSQLPgStatementsAgent": {
      "post": {
        "tags": ["Agents"],
        "summary": "ChangeQANPostgreSQLPgStatementsAgent changes PostgreSQL Pg Stat Statements QAN Agent.",
        "operationId": "ChangeQANPostgreSQLPgStatementsAgent",
        "requestBody": {
          "$ref": "#/components/requestBodies/ChangeAzureDatabaseExporterBody"
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_16"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_1"
                }
              }
            }
          }
        }
      }
    },
    "/v1/inventory/Agents/ChangeRDSExporter": {
      "post": {
        "tags": ["Agents"],
        "summary": "ChangeRDSExporter changes rds_exporter Agent.",
        "operationId": "ChangeRDSExporter",
        "requestBody": {
          "$ref": "#/components/requestBodies/ChangeAzureDatabaseExporterBody"
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_17"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_1"
                }
              }
            }
          }
        }
      }
    },
    "/v1/inventory/Agents/Get": {
      "post": {
        "tags": ["Agents"],
        "summary": "GetAgent returns a single Agent by ID.",
        "operationId": "GetAgent",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Agents_Get_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_19"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_1"
                }
              }
            }
          }
        }
      }
    },
    "/v1/inventory/Agents/List": {
      "post": {
        "tags": ["Agents"],
        "summary": "ListAgents returns a list of all Agents.",
        "operationId": "ListAgents",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Agents_List_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_20"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_1"
                }
              }
            }
          }
        }
      }
    },
    "/v1/inventory/Agents/Remove": {
      "post": {
        "tags": ["Agents"],
        "summary": "RemoveAgent removes Agent.",
        "operationId": "RemoveAgent",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Agents_Remove_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_1"
                }
              }
            }
          }
        }
      }
    },
    "/v1/inventory/Nodes/AddContainer": {
      "post": {
        "tags": ["Nodes"],
        "summary": "AddContainerNode adds Container Node.",
        "operationId": "AddContainerNode",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Nodes_AddContainer_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_21"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_1"
                }
              }
            }
          }
        }
      }
    },
    "/v1/inventory/Nodes/AddGeneric": {
      "post": {
        "tags": ["Nodes"],
        "summary": "AddGenericNode adds generic Node.",
        "operationId": "AddGenericNode",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Nodes_AddGeneric_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_22"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_1"
                }
              }
            }
          }
        }
      }
    },
    "/v1/inventory/Nodes/AddRemote": {
      "post": {
        "tags": ["Nodes"],
        "summary": "AddRemoteNode adds remote Node.",
        "operationId": "AddRemoteNode",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Nodes_AddRemote_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_23"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_1"
                }
              }
            }
          }
        }
      }
    },
    "/v1/inventory/Nodes/AddRemoteAzureDatabase": {
      "post": {
        "tags": ["Nodes"],
        "summary": "AddRemoteAzureDatabaseNode adds remote Azure database Node.",
        "operationId": "AddRemoteAzureDatabaseNode",
        "requestBody": {
          "$ref": "#/components/requestBodies/AddRemoteAzureDatabaseNodeBody"
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_24"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_1"
                }
              }
            }
          }
        }
      }
    },
    "/v1/inventory/Nodes/AddRemoteRDS": {
      "post": {
        "tags": ["Nodes"],
        "summary": "AddRemoteRDSNode adds remote RDS Node.",
        "operationId": "AddRemoteRDSNode",
        "requestBody": {
          "$ref": "#/components/requestBodies/AddRemoteAzureDatabaseNodeBody"
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_25"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_1"
                }
              }
            }
          }
        }
      }
    },
    "/v1/inventory/Nodes/Get": {
      "post": {
        "tags": ["Nodes"],
        "summary": "GetNode returns a single Node by ID.",
        "operationId": "GetNode",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Nodes_Get_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_26"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_1"
                }
              }
            }
          }
        }
      }
    },
    "/v1/inventory/Nodes/List": {
      "post": {
        "tags": ["Nodes"],
        "summary": "ListNodes returns a list of all Nodes.",
        "operationId": "ListNodes",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Nodes_List_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_27"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_1"
                }
              }
            }
          }
        }
      }
    },
    "/v1/inventory/Nodes/Remove": {
      "post": {
        "tags": ["Nodes"],
        "summary": "RemoveNode removes Node.",
        "operationId": "RemoveNode",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Nodes_Remove_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_1"
                }
              }
            }
          }
        }
      }
    },
    "/v1/inventory/Services/AddExternalService": {
      "post": {
        "tags": ["Services"],
        "summary": "AddExternalService adds External Service.",
        "operationId": "AddExternalService",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Services_AddExternalService_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_28"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_1"
                }
              }
            }
          }
        }
      }
    },
    "/v1/inventory/Services/AddHAProxyService": {
      "post": {
        "tags": ["Services"],
        "summary": "AddHAProxyService adds HAProxy Service.",
        "operationId": "AddHAProxyService",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Services_AddHAProxyService_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_29"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_1"
                }
              }
            }
          }
        }
      }
    },
    "/v1/inventory/Services/AddMongoDB": {
      "post": {
        "tags": ["Services"],
        "summary": "AddMongoDBService adds MongoDB Service.",
        "operationId": "AddMongoDBService",
        "requestBody": {
          "$ref": "#/components/requestBodies/AddMongoDBServiceBody"
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_30"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_1"
                }
              }
            }
          }
        }
      }
    },
    "/v1/inventory/Services/AddMySQL": {
      "post": {
        "tags": ["Services"],
        "summary": "AddMySQLService adds MySQL Service.",
        "operationId": "AddMySQLService",
        "requestBody": {
          "$ref": "#/components/requestBodies/AddMongoDBServiceBody"
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_31"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_1"
                }
              }
            }
          }
        }
      }
    },
    "/v1/inventory/Services/AddPostgreSQL": {
      "post": {
        "tags": ["Services"],
        "summary": "AddPostgreSQLService adds PostgreSQL Service.",
        "operationId": "AddPostgreSQLService",
        "requestBody": {
          "$ref": "#/components/requestBodies/AddMongoDBServiceBody"
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_32"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_1"
                }
              }
            }
          }
        }
      }
    },
    "/v1/inventory/Services/AddProxySQL": {
      "post": {
        "tags": ["Services"],
        "summary": "AddProxySQLService adds ProxySQL Service.",
        "operationId": "AddProxySQLService",
        "requestBody": {
          "$ref": "#/components/requestBodies/AddMongoDBServiceBody"
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_33"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_1"
                }
              }
            }
          }
        }
      }
    },
    "/v1/inventory/Services/Get": {
      "post": {
        "tags": ["Services"],
        "summary": "GetService returns a single Service by ID.",
        "operationId": "GetService",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Services_Get_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_34"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_1"
                }
              }
            }
          }
        }
      }
    },
    "/v1/inventory/Services/List": {
      "post": {
        "tags": ["Services"],
        "summary": "ListServices returns a list of all Services.",
        "operationId": "ListServices",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Services_List_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_35"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_1"
                }
              }
            }
          }
        }
      }
    },
    "/v1/inventory/Services/Remove": {
      "post": {
        "tags": ["Services"],
        "summary": "RemoveService removes Service.",
        "operationId": "RemoveService",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Services_Remove_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_1"
                }
              }
            }
          }
        }
      }
    },
    "/v1/management/Actions/Cancel": {
      "post": {
        "tags": ["Actions"],
        "summary": "CancelAction stops an Action.",
        "operationId": "CancelAction",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Actions_Cancel_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_2"
                }
              }
            }
          }
        }
      }
    },
    "/v1/management/Actions/Get": {
      "post": {
        "tags": ["Actions"],
        "summary": "GetAction gets an result of given Action.",
        "operationId": "GetAction",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Actions_Get_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_36"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_2"
                }
              }
            }
          }
        }
      }
    },
    "/v1/management/Actions/StartMongoDBExplain": {
      "post": {
        "tags": ["Actions"],
        "summary": "StartMongoDBExplainAction starts MongoDB EXPLAIN Action.",
        "operationId": "StartMongoDBExplainAction",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Actions_StartMongoDBExplain_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_37"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_2"
                }
              }
            }
          }
        }
      }
    },
    "/v1/management/Actions/StartMySQLExplain": {
      "post": {
        "tags": ["Actions"],
        "summary": "StartMySQLExplainAction starts MySQL EXPLAIN Action with traditional output.",
        "operationId": "StartMySQLExplainAction",
        "requestBody": {
          "$ref": "#/components/requestBodies/StartMySQLExplainActionBody"
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_37"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_2"
                }
              }
            }
          }
        }
      }
    },
    "/v1/management/Actions/StartMySQLExplainJSON": {
      "post": {
        "tags": ["Actions"],
        "summary": "StartMySQLExplainJSONAction starts MySQL EXPLAIN Action with JSON output.",
        "operationId": "StartMySQLExplainJSONAction",
        "requestBody": {
          "$ref": "#/components/requestBodies/StartMySQLExplainActionBody"
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_37"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_2"
                }
              }
            }
          }
        }
      }
    },
    "/v1/management/Actions/StartMySQLExplainTraditionalJSON": {
      "post": {
        "tags": ["Actions"],
        "summary": "StartMySQLExplainTraditionalJSONAction starts MySQL EXPLAIN Action with traditional JSON output.",
        "operationId": "StartMySQLExplainTraditionalJSONAction",
        "requestBody": {
          "$ref": "#/components/requestBodies/StartMySQLExplainActionBody"
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_37"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_2"
                }
              }
            }
          }
        }
      }
    },
    "/v1/management/Actions/StartMySQLShowCreateTable": {
      "post": {
        "tags": ["Actions"],
        "summary": "StartMySQLShowCreateTableAction starts MySQL SHOW CREATE TABLE Action.",
        "operationId": "StartMySQLShowCreateTableAction",
        "requestBody": {
          "$ref": "#/components/requestBodies/StartMySQLShowCreateTableActionBody"
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_37"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_2"
                }
              }
            }
          }
        }
      }
    },
    "/v1/management/Actions/StartMySQLShowIndex": {
      "post": {
        "tags": ["Actions"],
        "summary": "StartMySQLShowIndexAction starts MySQL SHOW INDEX Action.",
        "operationId": "StartMySQLShowIndexAction",
        "requestBody": {
          "$ref": "#/components/requestBodies/StartMySQLShowCreateTableActionBody"
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_37"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_2"
                }
              }
            }
          }
        }
      }
    },
    "/v1/management/Actions/StartMySQLShowTableStatus": {
      "post": {
        "tags": ["Actions"],
        "summary": "StartMySQLShowTableStatusAction starts MySQL SHOW TABLE STATUS Action.",
        "operationId": "StartMySQLShowTableStatusAction",
        "requestBody": {
          "$ref": "#/components/requestBodies/StartMySQLShowCreateTableActionBody"
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_37"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_2"
                }
              }
            }
          }
        }
      }
    },
    "/v1/management/Actions/StartPTMongoDBSummary": {
      "post": {
        "tags": ["Actions"],
        "summary": "StartPTMongoDBSummaryAction starts pt-mongodb-summary Action.",
        "operationId": "StartPTMongoDBSummaryAction",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Message to prepare ptmongodbsummary data"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message to retrieve the prepared ptmongodbsummary data"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_2"
                }
              }
            }
          }
        }
      }
    },
    "/v1/management/Actions/StartPTMySQLSummary": {
      "post": {
        "tags": ["Actions"],
        "summary": "StartPTMySQLSummaryAction starts pt--mysql-summary Action.",
        "operationId": "StartPTMySQLSummaryAction",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Message to prepare ptmysqlsummary data"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message to retrieve the prepared ptmysqlsummary data"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_2"
                }
              }
            }
          }
        }
      }
    },
    "/v1/management/Actions/StartPTPgSummary": {
      "post": {
        "tags": ["Actions"],
        "summary": "StartPTPgSummaryAction starts pt-pg-summary Action.",
        "operationId": "StartPTPgSummaryAction",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Message to prepare ptpgsummary data"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message to retrieve the prepared ptpgsummary data"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_2"
                }
              }
            }
          }
        }
      }
    },
    "/v1/management/Actions/StartPTSummary": {
      "post": {
        "tags": ["Actions"],
        "summary": "StartPTSummaryAction starts pt-summary Action.",
        "operationId": "StartPTSummaryAction",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Actions_StartPTSummary_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_37"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_2"
                }
              }
            }
          }
        }
      }
    },
    "/v1/management/Actions/StartPostgreSQLShowCreateTable": {
      "post": {
        "tags": ["Actions"],
        "summary": "StartPostgreSQLShowCreateTableAction starts PostgreSQL SHOW CREATE TABLE Action.",
        "operationId": "StartPostgreSQLShowCreateTableAction",
        "requestBody": {
          "$ref": "#/components/requestBodies/StartMySQLShowCreateTableActionBody"
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_37"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_2"
                }
              }
            }
          }
        }
      }
    },
    "/v1/management/Actions/StartPostgreSQLShowIndex": {
      "post": {
        "tags": ["Actions"],
        "summary": "StartPostgreSQLShowIndexAction starts PostgreSQL SHOW INDEX Action.",
        "operationId": "StartPostgreSQLShowIndexAction",
        "requestBody": {
          "$ref": "#/components/requestBodies/StartMySQLShowCreateTableActionBody"
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_37"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_2"
                }
              }
            }
          }
        }
      }
    },
    "/v1/management/Annotations/Add": {
      "post": {
        "tags": ["Annotation"],
        "summary": "AddAnnotation adds annotation.",
        "operationId": "AddAnnotation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Annotations_Add_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_2"
                }
              }
            }
          }
        }
      }
    },
    "/v1/management/External/Add": {
      "post": {
        "tags": ["External"],
        "summary": "AddExternal adds external service and adds external exporter.\nIt automatically adds a service to inventory, which is running on provided \"node_id\",\nthen adds an \"external exporter\" agent to inventory, which is running on provided \"runs_on_node_id\".",
        "operationId": "AddExternal",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/External_Add_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_38"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_2"
                }
              }
            }
          }
        }
      }
    },
    "/v1/management/HAProxy/Add": {
      "post": {
        "tags": ["HAProxy"],
        "summary": "AddHAProxy adds HAProxy service and adds external exporter.\nIt automatically adds a service to inventory, which is running on provided \"node_id\",\nthen adds an \"external exporter\" agent to inventory.",
        "operationId": "AddHAProxy",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HAProxy_Add_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_39"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_2"
                }
              }
            }
          }
        }
      }
    },
    "/v1/management/MongoDB/Add": {
      "post": {
        "tags": ["MongoDB"],
        "summary": "AddMongoDB adds MongoDB Service and starts several Agents.\nIt automatically adds a service to inventory, which is running on provided \"node_id\",\nthen adds \"mongodb_exporter\", and \"qan_mongodb_profiler\" agents\nwith provided \"pmm_agent_id\" and other parameters.",
        "operationId": "AddMongoDB",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MongoDB_Add_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_40"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_2"
                }
              }
            }
          }
        }
      }
    },
    "/v1/management/MySQL/Add": {
      "post": {
        "tags": ["MySQL"],
        "summary": "AddMySQL adds MySQL Service and starts several Agents.\nIt automatically adds a service to inventory, which is running on provided \"node_id\",\nthen adds \"mysqld_exporter\", and \"qan_mysql_perfschema\" agents\nwith provided \"pmm_agent_id\" and other parameters.",
        "operationId": "AddMySQL",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MySQL_Add_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_41"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_2"
                }
              }
            }
          }
        }
      }
    },
    "/v1/management/Node/Register": {
      "post": {
        "tags": ["Node"],
        "summary": "RegisterNode registers a new Node and pmm-agent.",
        "operationId": "RegisterNode",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Node_Register_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_42"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_2"
                }
              }
            }
          }
        }
      }
    },
    "/v1/management/PostgreSQL/Add": {
      "post": {
        "tags": ["PostgreSQL"],
        "summary": "AddPostgreSQL adds PostgreSQL Service and starts postgres exporter.\nIt automatically adds a service to inventory, which is running on provided \"node_id\",\nthen adds \"postgres_exporter\" with provided \"pmm_agent_id\" and other parameters.",
        "operationId": "AddPostgreSQL",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostgreSQL_Add_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_43"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_2"
                }
              }
            }
          }
        }
      }
    },
    "/v1/management/ProxySQL/Add": {
      "post": {
        "tags": ["ProxySQL"],
        "summary": "AddProxySQL adds ProxySQL Service and starts several Agents.\nIt automatically adds a service to inventory, which is running on provided \"node_id\",\nthen adds \"proxysql_exporter\" with provided \"pmm_agent_id\" and other parameters.",
        "operationId": "AddProxySQL",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProxySQL_Add_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_44"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_2"
                }
              }
            }
          }
        }
      }
    },
    "/v1/management/RDS/Add": {
      "post": {
        "tags": ["RDS"],
        "summary": "AddRDS adds RDS instance.",
        "operationId": "AddRDS",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RDS_Add_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_45"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_2"
                }
              }
            }
          }
        }
      }
    },
    "/v1/management/RDS/Discover": {
      "post": {
        "tags": ["RDS"],
        "summary": "DiscoverRDS discovers RDS instances.",
        "operationId": "DiscoverRDS",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RDS_Discover_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_46"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_2"
                }
              }
            }
          }
        }
      }
    },
    "/v1/management/SecurityChecks/Change": {
      "post": {
        "tags": ["SecurityChecks"],
        "summary": "ChangeSecurityChecks enables/disables Security Thread Tool checks or changes their interval by names.",
        "operationId": "ChangeSecurityChecks",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SecurityChecks_Change_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_2"
                }
              }
            }
          }
        }
      }
    },
    "/v1/management/SecurityChecks/GetCheckResults": {
      "post": {
        "tags": ["SecurityChecks"],
        "summary": "GetSecurityCheckResults returns Security Thread Tool's latest checks results.",
        "operationId": "GetSecurityCheckResults",
        "requestBody": {
          "$ref": "#/components/requestBodies/PlatformSignOutBody"
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_47"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_2"
                }
              }
            }
          }
        }
      }
    },
    "/v1/management/SecurityChecks/List": {
      "post": {
        "tags": ["SecurityChecks"],
        "summary": "ListSecurityChecks returns a list of available Security Thread Tool checks.",
        "operationId": "ListSecurityChecks",
        "requestBody": {
          "$ref": "#/components/requestBodies/PlatformSignOutBody"
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_48"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_2"
                }
              }
            }
          }
        }
      }
    },
    "/v1/management/SecurityChecks/Start": {
      "post": {
        "tags": ["SecurityChecks"],
        "summary": "StartSecurityChecks executes Security Thread Tool checks and returns when all checks are executed.",
        "description": "All the available checks will be started if check names aren't specified.",
        "operationId": "StartSecurityChecks",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SecurityChecks_Start_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_2"
                }
              }
            }
          }
        }
      }
    },
    "/v1/management/Service/Remove": {
      "post": {
        "tags": ["Service"],
        "summary": "RemoveService removes Service with Agents.",
        "operationId": "RemoveServiceMixin2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Service_Remove_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_2"
                }
              }
            }
          }
        }
      }
    },
    "/v1/readyz": {
      "get": {
        "tags": ["Server"],
        "summary": "Readiness returns an error when some PMM Server component is not ready yet or is being restarted.\nIt can be used as for Docker health check or Kubernetes readiness probe.",
        "operationId": "Readiness",
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_1"
                }
              }
            }
          }
        }
      }
    },
    "/v1/version": {
      "get": {
        "tags": ["Server"],
        "summary": "Version returns PMM Server versions.",
        "operationId": "Version",
        "parameters": [
          {
            "name": "dummy",
            "in": "query",
            "description": "Dummy parameter for internal testing. Do not use.",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_200_49"
                }
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/inline_response_default_1"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "inline_response_200_33": {
        "type": "object",
        "properties": {
          "proxysql": {
            "$ref": "#/components/schemas/inline_response_200_33_proxysql"
          }
        }
      },
      "inline_response_200_32": {
        "type": "object",
        "properties": {
          "postgresql": {
            "$ref": "#/components/schemas/inline_response_200_32_postgresql"
          }
        }
      },
      "inline_response_200_35": {
        "type": "object",
        "properties": {
          "mysql": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/inline_response_200_35_mysql"
            },
            "x-order": 0
          },
          "mongodb": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/inline_response_200_35_mongodb"
            },
            "x-order": 1
          },
          "postgresql": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/inline_response_200_32_postgresql"
            },
            "x-order": 2
          },
          "proxysql": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/inline_response_200_33_proxysql"
            },
            "x-order": 3
          },
          "haproxy": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/inline_response_200_35_haproxy"
            },
            "x-order": 4
          },
          "external": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/inline_response_200_35_external"
            },
            "x-order": 5
          }
        }
      },
      "inline_response_200_34": {
        "type": "object",
        "properties": {
          "mysql": {
            "$ref": "#/components/schemas/inline_response_200_35_mysql"
          },
          "mongodb": {
            "$ref": "#/components/schemas/inline_response_200_35_mongodb"
          },
          "postgresql": {
            "$ref": "#/components/schemas/inline_response_200_32_postgresql"
          },
          "proxysql": {
            "$ref": "#/components/schemas/inline_response_200_33_proxysql"
          },
          "haproxy": {
            "$ref": "#/components/schemas/inline_response_200_35_haproxy"
          },
          "external": {
            "$ref": "#/components/schemas/inline_response_200_35_external"
          }
        }
      },
      "inline_response_200_31": {
        "type": "object",
        "properties": {
          "mysql": {
            "$ref": "#/components/schemas/inline_response_200_35_mysql"
          }
        }
      },
      "Message to retrieve the prepared ptmongodbsummary data": {
        "title": "Message to retrieve the prepared pt-mongodb-summary data",
        "type": "object",
        "properties": {
          "action_id": {
            "type": "string",
            "description": "Unique Action ID.",
            "x-order": 0
          },
          "pmm_agent_id": {
            "type": "string",
            "description": "pmm-agent ID where to this Action was started.",
            "x-order": 1
          }
        }
      },
      "inline_response_200_30": {
        "type": "object",
        "properties": {
          "mongodb": {
            "$ref": "#/components/schemas/inline_response_200_35_mongodb"
          }
        }
      },
      "inline_response_200_20_qan_postgresql_pgstatmonitor_agent": {
        "type": "object",
        "properties": {
          "agent_id": {
            "type": "string",
            "description": "Unique randomly generated instance identifier.",
            "x-order": 0
          },
          "pmm_agent_id": {
            "type": "string",
            "description": "The pmm-agent identifier which runs this instance.",
            "x-order": 1
          },
          "disabled": {
            "type": "boolean",
            "description": "Desired Agent status: enabled (false) or disabled (true).",
            "x-order": 2
          },
          "service_id": {
            "type": "string",
            "description": "Service identifier.",
            "x-order": 3
          },
          "username": {
[...]
